html, body {
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0;
    font-family: 'Poiret One', cursive;}

    * {box-sizing: border-box;}

    a{
      text-decoration: none;
  }

  a:active {
    text-decoration: none;
}

  html {
    display: block;
  }

  @media screen and (min-width: 670px){
/** HEADER **/

nav {
    display: block;
    overflow: hidden;
    top:0;
    position: fixed;
    z-index: 3;
    background-color: #563440;
    height:35vh;
    width:100%;
    margin: 0;
    behavior: smooth;
    transition: 1.1s;}
    
    .navbar-shrink {
      top:0;
      position: fixed;
      z-index: 3;
      background-color: rgba(86, 52, 64, 0.9);
      opacity: 1.1;
      height: 10vh;
      transition: 1s;
      width:100%;
      margin: 0;
      behavior: smooth;}
    
      .navbar-shrink h1 {
        display: none;
      }
    
      .navbar-shrink h2 {
        display: none;
      }
    
    header h1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      z-index: 3;
      width: 100%;
      font-family: 'Poiret One', cursive;
      text-transform: uppercase;
      font-size: 40px;
      text-align: center;
      letter-spacing: 11px;
      line-height: 40px;
      font-weight: 900;
      color: white;}
    
    /** MENU 
    
    .box {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: white;
    }**/

     
   menu {
    display: block;
    line-height: 10px;
    z-index: 4;
    font-family: 'Poiret One', cursive;
    letter-spacing: 3px;
    font-size: 23px;
    padding:0;
    color: white;
    }
    
    menu ul {
    display: flex;
    flex: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    list-style-type: none;
    margin:0;
    padding:0;}
    
   menu li {
    display: inline-block;
    padding: 15px;
    }
    
    menu li a:link {
        color: white;
        text-decoration: none;}
    
    menu li a:visited {
        color:white;}
    
     menu li a:hover {
      color: #C9C9C9;}
    
      menu li a:active {
        color:#EEE5E9;}
    
    
        /* HAMBURGER */
    
      .material-icons.md-18.arrow-back { 
          display: none;
      }

      .material-icons.menuHamb {
        display: none;
      }
    
        /** H1 À H6 **/
    
      h2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
        font-family: 'Poiret One', cursive;
        text-transform: uppercase;
        font-size: 25px;
        text-align: center;
        color: white;
        letter-spacing: 8px;
        font-weight: 900;
        line-height: 10px;}
    
        h3 {
          font-family: 'Poiret One', cursive;
          text-transform: uppercase;
          font-size: 30px;
          text-align: center;
          color:#563440;
          letter-spacing: 8px;
          font-weight: 900;
          padding: 15px;
          line-height: 10px;}
    
        /** SECTION **/
    
    section {
    width: 100%;
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    color: #563440;
    letter-spacing: 10px;
    font-weight: 900;
    margin: 0;
    padding: 0;}
    
      .accueil {
        top:45vh;
        right: 44px;
        position: absolute;
        color: #563440;
        width: 550px;
        line-height: 50px;
        font-size: 18px;
        list-style-type: none;
        text-align: left;
      }
    
      .accueil li {
        list-style-type: none;
        text-align: left;
        padding-bottom: 20px;
      }
    
      .competences ul {
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      width: 100%/3;
      padding: 15px;
      }
    
      .section-accueil {
        height: 125vh;
        background-image: url(../img/accueil.jpg);
        background-size : cover;
        background-repeat: no-repeat;}
    
      .section-contact {
      padding-top: 50px;
      display:flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
      
      .section-galerie { 
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
        padding-top: 20px;
      }
    
      .section-competences {
      height: 35vh;
      }
    
    
    /** FORMULAIRE **/  /**
      border: 1px solid #F19C79;**/
    
    form {
      margin: 0 auto;
      width: 700px;
      padding: 20px;
      background-color: #C9C9C9;
      border-radius: 1em;
      text-align: center;
    }
    
        input, textarea {
          font-family: 'Poiret One', cursive;
          width: 500px;
          font-size: 17px;
          box-sizing: border-box;
          border: 1px solid white;
          border-radius: 1em;
          text-align: center;
          margin : 5px;
        }
    
      button {
        box-shadow: 4px 4px grey;
        line-height: 15px;
        font-family: 'Poiret One', cursive;
        margin-top: 8px;
        width: 350px;
        font-size: 13px;
        background-color: #563440;
        color: white;
        padding: 6px;
        border-radius: 15px;
        transition: 0.4s;
      }
    
    
      button:hover{
        line-height: 15px;
        font-family: 'Poiret One', cursive;
        margin-top: 8px;
      width: 350px;
        font-size: 13px;
        background-color: #563440;
        color: white;
        padding: 6px;
        box-shadow: 2px 2px grey;
        border-radius: 15px;  }
        
    
      input:focus, textarea:focus {
        border-color: #000;
      }
    
      textarea {
        vertical-align: top;
        line-height: 20px;
      }
      /** IMAGES**/
    
     .section-accueil img {
          object-fit: cover;
          width:100%;
          height:800px;
          }
    
            .two img {
            display: inline-block;
            width : 15%;
            padding: 8px;
            }
            
              .competences img {
              width: 45%;
              }
    
              .section-galerie img {
                width: calc(100% / 4);
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                height: 900px;
                object-fit: cover;}
    
    /*FLÈCHE*/

    .fleche{
        animation: down 0.6s infinite linear alternate;
          width: 10%;
          color: black;
          display: block;
          margin: auto;}
    
          #toTop { 
            bottom: 60px; 
            right: 10px;}
    
      @keyframes down{
        0% {position:relative; top:0px; opacity: 0}
        50% {position:relative; top:9px; opacity: 0.5}
        100% {position:relative; top:18px; opacity: 1}
      }
      
    
     /** FOOTER **/
    
    footer {
    position: relative;
    overflow: hidden;
    background-color : #563440;
    font-family: 'Poiret One', cursive;
    font-size: 16px;
    text-align: center;
    color: white;
    bottom: 0;
    height: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    letter-spacing: 3px;
    }
    
    .one, .two, .three {
      width: calc(100% / 3);
      text-decoration: none;
      justify-content: center;
      align-content: center;
      padding: 0;
    }
    
    footer ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items:center;
      justify-content:center;
      list-style-type:none;
      padding: 0;
    }
    
    .one a:link {
      color: white;
      text-decoration: none;}
    
      .one a:hover {
      color: #C9C9C9;}
    
    footer a:link {
          text-decoration: none;}
        
        footer a:visited {
          text-decoration: none;}
        
          footer a:hover {
          text-decoration: none;}
        
          footer a:active {
            text-decoration: none;}
    
    
        .three {
        text-transform: uppercase;
        }
    
    /* BOUTON FOOTER */
    
    .cv {
      display: inline-block;
      padding: 10px 10px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      background-color: white;
      border: none;
      box-shadow: 4px 4px rgb(146, 143, 143);
      border-radius: 15px;
      width: 180px;
      transition: 0.4s;
    }
    
    .cv a {
      text-decoration: none;
      color: #563440;
      cursor: pointer;}
    
    .cv:hover {
    box-shadow: 2px 2px rgb(146, 143, 143);
    background-color: white;
    color: #563440;
    border-radius: 15px;
    padding: 10px 10px;
    font-size: 24px;
    width: 180px;
    cursor: pointer;
    }}

/*MEDIA QUERIES*/


@media screen and (min-width: 370px) and (max-width: 670px){
  /** HEADER 

nav {
    display: flex;
    overflow: hidden;
    top:0;
    padding: 0px 18px;
    position: fixed;
    z-index: 3;
    background-color: #563440;
    height:auto;
    width:100%;
    margin: 0;
    behavior: smooth;
    transition: 1s;}**/

    nav{
        position: absolute;
        top: 0;  
        margin: 0;
        width: 100%;
        background-color: #563440;
    }

    .entete{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;  
    }
    .entete.desktop{
        display: none;
    }
  
    .menuNav{
        width: 100%;
        height: 30vh;
        margin: 20px auto;
        padding:10px;
        text-align: center;
        background-color: #563440;
        z-index: 3;
        list-style: none;
        position: absolute;
        top: -20px;
        left: 0;
        text-decoration: none;
    }
    /*.menuNav li{
        padding: 30px;
    }*/

    .menuHamb {
    margin: 0 auto;}

    .menuHamb:hover{
        cursor: pointer;
    }
    .material-icons.md-18.arrow-back { 
        color: white;
        position: absolute;
        left: 15px;
        top: 3px;
    }
    
    header h1 {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    font-size: 17px;
    text-align: center;
    letter-spacing: 10px;
    line-height: 30px;
    color: white;
    padding-top: 10px;}

     h2 {
     display: flex;
      width: 100%;
      font-family: 'Poiret One', cursive;
      text-transform: uppercase;
      font-size: 15px;
      text-align: center;
      letter-spacing: 12px;
      line-height: 32px;
      color: white;}


      /** MENU **/

  menu ul {
  display: contents;
  display: flex;
  flex: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  list-style-type: none;
  margin:0;
  padding:0;}
  
  menu li {
  padding: 8px;
  }
  
  menu {
  line-height: 16px;
  z-index: 100;
  font-family: 'Poiret One', cursive;
  letter-spacing: 3px;
  font-size: 22px;
  padding:0;
  }
  
  menu li a:link {
      color: white;
      text-decoration: none;}
  
      menu li a:visited {
      color:white;}
  
      menu li a:hover {
    color: #C9C9C9;}
  
    menu li a:active {
      color:#EEE5E9;}

    .menuNav:hover {
            cursor: pointer;
        }

        .material-icons.md-18.arrow-back { 
            color: white;
            position: absolute;
            left: 20px;
            top: 20px;
        }

    .material-icons.menuHamb {
        color: white;
    }

/*SECTIONS*/

section {
    height: auto;
    width: 100%;
    font-family: 'Poiret One', cursive;
    text-align: center;
    color: #563440;
    margin: 0;
    padding: 0;}

  
  /* ACCUEIL */


  .section-accueil {
    height: 35vh;
    margin: 0 auto;
    margin-top:30vh;
    background-image: url(../img/accueil.jpg);
    background-size : cover;
    background-repeat: no-repeat;
    object-fit: cover;}

    .accueil li {
    align-content: center;
    color: #563440;
    width: 100%;
    text-transform: uppercase;
    list-style-type: none;
    padding: 10px;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
    font-family: 'Poiret One', cursive;
    margin: 0;
}

.accueil ul {
 padding-top: 5vh;
 padding-left: 0;
}

/*TITRES*/

h3 {
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    color:#563440;
    letter-spacing: 8px;
    padding: 8px;
    line-height: 25px;}


/* COMPÉTENCES */

.competences img {
    width: 50%;
    padding: 10px;
    }

    .competences ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    }

/** FOOTER **/

footer {
    position: relative;
    background-color : #563440;
    font-family: 'Poiret One', cursive;
    font-size: 10px;
    text-align: center;
    color: white;
    bottom: 0;
    height: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    letter-spacing: 3px;
    }
    
    .one, .two, .three {
      width: calc(100% / 2);
      text-decoration: none;
      justify-content: center;
      align-content: center;
      padding: 8px;
    }
    
    footer ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items:center;
      justify-content:center;
      list-style-type:none;
      padding: 0;
      width: 100%;
    }

    .one {
    padding-left: 20px;
    }
    
    .one a:link {
      color: white;
      text-decoration: none;}
    
      .one a:hover {
      color: #C9C9C9;}
    
    footer a:link {
          text-decoration: none;}
        
        footer a:visited {
          text-decoration: none;}
        
          footer a:hover {
          text-decoration: none;}
        
          footer a:active {
            text-decoration: none;}
    
    
        .three {
        display: none;        }

        .two img {
            display: inline-block;
            width : 25%;
            padding: 4px;
            }



/* RÉALISATIONS */

.section-galerie img {
    margin-top: 21vh;
    width: calc(100% / 4);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 75vh;
    object-fit: cover;}

    .section-galerie { 
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        height: 100%;
        padding-top: 60px;
      }

      /**FLÈCHE TO TOP */

  .fleche{
  display: none;
  }

/* FORMULAIRE*/

.section-contact {
height: 60vh;
margin-top: 25vh;
}

form {
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    width: 80%;
    height: auto;
    padding: 20px;
    background-color: #C9C9C9;
    border-radius: 1em;
    text-align: center;
  }
  
      input, textarea {
        font-family: 'Poiret One', cursive;
        width: 90%;
        font-size: 13px;
        box-sizing: content-box;
        border: 1px solid white;
        border-radius: 1em;
        text-align: center;
        margin : 5px;
      }
  
    button {
      box-shadow: 4px 4px grey;
      line-height: 15px;
      font-family: 'Poiret One', cursive;
      margin-top: 8px;
      width: 70%;
      font-size: 12px;
      background-color: #563440;
      color: white;
      padding: 6px;
      border-radius: 15px;
      transition: 0.4s;
    }
  
  
    button:hover{
      line-height: 15px;
      font-family: 'Poiret One', cursive;
      margin-top: 8px;
      width: auto;
      font-size: 8px;
      background-color: #563440;
      color: white;
      padding: 6px;
      box-shadow: 2px 2px grey;
      border-radius: 15px;  }
      
  
    input:focus, textarea:focus {
      border-color: #000;
    }
  
    textarea {
      vertical-align: top;
      line-height: 20px;
    }}